<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Q & A</h2>
    <table>
        <a href="/posts/insert">글 추가하기</a>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>삭제</th>
            <th>수정</th>
        </tr>
        <% data.forEach((el,index) => { %>
            <tr>
                <td><%= el.id %></td>
                <td><a href="/posts/view/<%= el.id%>"><%= el.title %></a></td>
                <td><%= el.user_name %></td>
                <td><a href="/posts/delete/<%= el.id %>">삭제</a></td>
                <td><a href="/posts/edit/<%= el.id %>">수정</a></td>
            </tr>
            <%  }); %>
    </table>
</body>

</html>